<?js
    var data = obj;
    var cls = "prettyprint source";
    if(env.conf.templates && env.conf.templates && env.conf.templates.linenums) {
        cls = "prettyprint source linenums"
    }
?>
    <section class="source">
        <article>
            <pre class="<?js= cls ?>">
            
            <code><?js= data.code ?></code></pre>
        </article>
    </section>