<section class="tutorial">


<article>
    <?js= content ?>
</article>

    <?js if (children.length > 0) { ?>
    <aside>
    <h3>See Also</h3>
    <ul><?js
        var self = this;
        children.forEach(function(t) { ?>
        <li><?js= self.tutoriallink(t.name) ?></li>
    <?js }); ?></ul>
    </aside>
    <?js } ?>


</section>
